<div class="backgroundimage">

    <div class="top">
        <div class="homeLink">
            <a routerLink="/home">H U N G R Y</a>
        </div>

        <div class="loginLink">
            <ul>
                <li id="myorders"><a routerLink="/myOrders">My Orders</a></li>
                <li id="ordernow"><a routerLink="/userPage">Order Now</a></li>
                <li id="deliveryaddress"><a routerLink="/deliveryaddress">Delivery Address</a></li>
                <li id="cart"><a routerLink="/cart">Cart <span class="badge badge-dark" [(ngModel)]="count"
                            style="color:orangered;background-color: white; padding-bottom:1px;">{{count}}</span></a>
                </li>
                <li><a routerLink="/login" (click)="logout()">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="mediatop">
        <a id="cart" routerLink="/cart" style="margin-right: 1.5em;">Cart <span class="badge badge-dark"
                style="color:orangered;background-color: white; font-size: 12px;padding-top: 4px;">{{count}}</span></a>
        <i class="material-icons" (click)="menudisplay = !menudisplay">
            menu
        </i>


        <div class="menu" *ngIf="menudisplay">
            <ul>
                <li id="myorders"><a routerLink="/myOrders">My Orders</a></li>
                <li id="ordernow"><a routerLink="/userPage">Order Now</a></li>
                <li id="deliveryaddress"><a routerLink="/deliveryaddress">Delivery Address</a></li>
                <li><a routerLink="/login" (click)="logout()">Logout</a></li>
            </ul>
        </div>
    </div>

    <img src="assets/images/italianbackground.jpg" style="height: 100vh; width: 100vw; object-fit:cover;">
    <div class="text-block">
        <div class="logo">

            <div class="heading">
                <h1 style="margin-top: 20px; font-size: 40px;">H U N G R Y</h1>
            </div>
        </div>
        <h2 ><strong>HALT YOUR HUNGER BY ORDERING HERE</strong></h2>

        <div class="cuisineheading">
            <strong>
                <h2>I T A L I A N</h2>
            </strong>
        </div>

        <div class="searchbox">
            <input id="search" type="search" name="search" [(ngModel)]="searchText"
                placeholder="Search for Italian Dishes / Restaurants"
                style="width: 100%;padding: 7px 7px;padding-left:8px;border-radius: 4px;border: none;font-size:large;color: rgb(67, 33, 23);">

        </div>

    </div>


</div>

<div class="break">

    - ORDER NOW -

</div>

<div class="categories-wrapper">
    <div class="categories">
        <ng-container *ngFor="let category of categories | filter:searchText">
            <div class="category" *ngIf="category.CuisineName == 'Italian'">
                <img src="assets/images/{{category.CuisineName.toLowerCase( )}}background.jpg"
                    alt="{{category.Dishes}}">
                <br>
                <h3>
                    <span id="dishes" (click)="searchText = category.Dishes"><strong>{{ category.Dishes
                            }}</strong></span>
                    <br>
                    <span id="hotelName" (click)="searchText = category.HotelName">{{category.HotelName}}</span>
                    <br>
                    <div class="price-cart">
                        <div class="price">
                            <span id="price">Rs.{{category.Price}} <img src="assets/images/cart4.png" alt="Cart"
                                    (click)="addToCart(category.Dishes,category.Price,category.HotelName)"></span>
                        </div>
                    </div>

                </h3>
            </div>
        </ng-container>
    </div>
</div>